.custompaper {
    background-color: #224b57;
    color: white; // Define your desired background color
  }
  .css-z3c6am-MuiFormControl-root-MuiTextField-root {
    background: #da0d0d;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
}