/* hero */
.ccontainer{
    display: grid;
    grid-template-rows: 400px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.kk{
    
    grid-row: 1/5;
    grid-column: 1/6;
    background: #1F282F;
  
}
.herodesc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #fff;
}

.herodesc h1 {
  position: absolute;
  margin-top: -780px;
  transform: translateY(-50%);
  font-size: 3rem; 
  text-align: center;
  white-space: nowrap;
}

.create-button {
  position: absolute;
  top: calc(-485px + 120px); 
  padding: 15px 30px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #3A7D90;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: -110px;
}
.create-button a {
  text-decoration: none;
  color: inherit;
}

.create-button:hover {
  color: #000000;
  background-color: white;
}

.color {
    height: 800px;
    width: 100%;
    background-image: radial-gradient(closest-side, #3A7D90, #000000);
    position: relative;
   

  margin-top: -100px;

  opacity: 30%;

  }
.mm{
  
    grid-row: 5/8;
    grid-column: 2/5;

}
/* hero */

/* Services */

.rr {
  margin-top: -50px;
  grid-row: 9/10;
  grid-column: 1/6;
  background: var(--gradientSupport);
  text-align: center;
  padding: 50px 0;
}

.grid_four_column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.grid_four_column > div {
  text-align: center;
}

.grid_four_column h2 {
  font-size: 4.8rem;
  color: #1F282F;
  margin-right: 5px;
}

.grid_four_column p {
  margin-top: 15px;
  font-size: 30px;
}

/* Services */


/* 5image */
.contain {
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;

  }
  
  .contain:hover .box {
    filter: grayscale(100%) opacity(24%);
  }
  
  .box {
    
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .contain .box:hover {
    filter: grayscale(0%) opacity(100%);
  }
  
  .box-1 {
      background: url('../components/Image/img-0.jpg')center center;
      border-radius: 5px;
  }
  
  .box-2 {
      background: url('../components/Image/img-1.jpg')center center;
      border-radius: 5px;
  }
  
  .box-3 {
      background: url('../components/Image/img-2.jpg')center center;
      border-radius: 5px;
  }
  
  .box-4 {
      background: url('../components/Image/img-4.jpg')center center;
      border-radius: 5px;
  }
  
  .box-5 {
      background: url('../components/Image/img-5.jpg')center center;
      border-radius: 5px;
  }
  
  .contain:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  }
  
  .contain:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  }
  
  .contain:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  }
  
  .contain:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  }
  
  .contain:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  }
  
  .box:nth-child(odd) {
    transform: translateY(-16px);
  }
  
  .box:nth-child(even) {
    transform: translateY(16px);
  }
  
  .box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #3A7D90;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
  }
  
  .box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
  }
/* 5images */

